Results/OSEMOSYS_Energy_Input.csv
Results/OSEMOSYS_Energy_Output.csv
workflow/1_Experiment/Experimental_Platform/Futures/
workflow/1_Experiment/Results/OSEMOSYS_Energy_Input.csv
workflow/1_Experiment/Results/OSEMOSYS_Energy_Output.csv